WORKOS_API_KEY=sk_test_xxx
WORKOS_CLIENT_ID=client_xxx
WORKOS_CLAIM_TOKEN=xxx
WORKOS_COOKIE_PASSWORD=xxx
WORKOS_REDIRECT_URI=http://localhost:5173/callback

IMAP_HOST=email.ngo
IMAP_PORT=993
IMAP_USERNAME=user@email.ngo
