# Build directories
build/
.build/
meson-private/
meson-info/
meson-logs/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.swp
*.bak
*~

# References
neovim-src/

# Subprojects
subprojects/ftxui/
subprojects/neovim-src/
